*{
    margin: 0 auto;
    padding: 0;
    list-style: inherit;
}

#top-bar{
    width: 1000px;
}

#book-bar{

    width: 1000px;
    border: 1px solid #bbb;
    display: flex;
    flex-wrap: wrap;

}


.book-box{

    width: 300px; height: 300px;
    border: 1px solid #bbb;
    text-align: center;

}